# Common
APP_ENV=development
PROJECT_NAME=myapp

# Server
SERVER_PORT=8080
SERVER_READ_TIMEOUT=5s
SERVER_WRITE_TIMEOUT=10s
SERVER_IDLE_TIMEOUT=20s

# API Configuration
LOG_LEVEL=warn
DEBUG=false

# Database
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=testpasswrd02
DB_NAME=myappdb
DB_PORT=5432
DB_URL=postgresql://${DB_USER}:${DB_PASSWORD}@localhost:5432/${DB_NAME}?sslmode={DB_SSLMODE}
DB_SSLMODE=disable
DB_DRIVER=postgres

# Test Database
TEST_DB_USER=postgres
TEST_DB_PASSWORD=testdb
TEST_DB_NAME=test_db

# JWT
JWT_SECRET=dev_secret
JWT_EXPIRATION=24h

# App
APP_PORT=8080
MEMORY_LIMIT=512M
CPU_LIMIT=0.5
MEMORY_RESERVE=256M
CPU_RESERVE=0.25
API_KEY=your_api_key

# Otel
OTEL_SERVICE_NAME=saas-photo-listing-platform
OTEL_RESOURCE_ATTRIBUTES=\
service.version=1.0.0,\
deployment.environment.name=development,\
deployment.environment.type=development,\
deployment.environment.version=1.0.0,\
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318/v1/traces
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
OTEL_TRACES_EXPORTER=otlp
OTEL_TRACES_SAMPLER=parentbased_traceidratio
OTEL_TRACES_SAMPLER_ARG=0.10

#OIDC/Oauth2.0
OIDC_ISSUER_URL=https://your-oidc-provider.com
OIDC_AUDIENCE=your-audience
OIDC_CLIENT_ID=your-client-id
